# Settings for AI provider. Defaults to Gemini
BRIEFLY_AI_API_KEY=
BRIEFLY_AI_BASE_URL=https://generativelanguage.googleapis.com/v1beta/openai
BRIEFLY_AI_MODEL=gemini-3.7-flash

# Settings for GNews API.
GNEWS_API_KEY=